body{
    background-image: url(../img/canadian-dollar.webp);
}

.logo{
    font-family: 'Peralta',cursive;
}

.logo a{
    color: rgb(0,0,0,.9);
}

.logo a:hover,
.logo a:active{
    text-decoration: none;
}